<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remoteAccessConsumerKey</key>
	<string>3MVG98XJQQAccJQfn1uhCyaN5Kb35VzUEHOpDeJoTfvRZG1CwCfbkTrjm5Sh7s2qwgoXXWa2vgqI9MM3utwn1</string>
	<key>oauthRedirectURI</key>
	<string>clydeProd://oauth/done</string>
	<key>oauthScopes</key>
	<array>
		<string>web</string>
		<string>api</string>
	</array>
	<key>shouldAuthenticate</key>
	<true/>
</dict>
</plist>
